
@{
	ViewBag.Title = "Cadastrar Cliente";
}
@section scripts{
	@Scripts.Render("~/bundles/clientes")
	<script>
        var urlPost = '@Url.Action("Incluir", "Cliente", new { area = "" })';
        PreencherSelectEstado("");
	</script>
}
<h2>@Html.Raw(ViewBag.Title)</h2>
@Html.Partial("Forms")